.photo-list {
    width: 90%;
    list-style: none;
    
}

.photo-item {
    display: flex;
    width: 300px;
    box-shadow: 0 5px 10px  #fff;
    margin: 20px 0;
}

.photo-item img {
    display: flex;
    width: 100%;
    border: 4px double #ff8000;
}
.modal-title{
    margin-top: 0px;
    padding: 0%;
    width: 100%;
    height:100%;

}
.Xclass{
    position:absolute;
    margin-top: 10px;
    margin-left: 2px;

}
#contained-modal img{
    width: 60%;
    height: auto;
}
.btn-primary {
    color: #fff;
    background-color:#ff8000;
    border-color: #fff;
}
