#form.input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: right;
}

#form.input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: right;
}

#form .input[type=submit]:hover {
  background-color: #45a049;
}

textarea{
  height:80px;
  text-align: right;
}
#form .container {
border-radius: 5px;
margin-bottom:20px;
width: 80%;
text-align: right;

}

#form .form-control{
width: 100%;
text-align: right;
}
#form.intro {
font-size: 150%;
color: red;
}

h2{
font-size: 50px;
text-align: center;
color:#ff8000;
text-shadow: 4px 4px 4px white;
}


#form.labeltitle{
  direction:rtl;
}
#form.contactus{
  text-align: right;
}
.btn-secondary {
  color: #fff;
  background-color:#ff8000;
  border-color: #fff;
}