@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
font-family: 'Arimo', sans-serif;

  /* direction: rtl */

}
body{
 direction: rtl;
 background-image: url('./img/pink.jpg');
 background-size:cover;
 font-weight: bold;
background-repeat: no-repeat;
}
h1{
  font-size:35px;
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  text-align: center;
  color:white;
  margin-bottom:5px;
  background-color:  #ffbf80;

}
h2{
  color: black;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 0px 2px rgb(255,255,255);
  font-size: 6rem;
  margin-bottom: 2px;
}